<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<!--
		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>
		-->

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">logCiCa</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/platform" class="link">Plateforme</a></li>
					<li><a href="/model" class="link">Modèle</a></li>
					<li><a href="/interop" class="link">Interop.</a></li>
					<li><a href="/links" class="link">Liens</a></li>
				</ul>
			</div>

			<!--
			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule an appointment</a></li>
				</ul>
			</div>
			-->

			<div>
				<h3 class="f4 b lh-title mb2 primary">Credits</h3>
				<ul class="mb3">
					<li><a href="https://fr.freepik.com/vecteurs-libre/athlete-masculin-velo-planete-terre_39210850.htm#query=v%C3%A9lo%20cargo&position=0&from_view=search&track=ais">Image de jemastock</a> sur Freepik</li>
				</ul>
			</div>

			<!--
			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Kaldi on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Kaldi on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Kaldi on Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt" "Kaldi on Vimeo") }}
				</ul>
			</div>
			-->

		</div>
	</div>

</footer>

{{ partial "svg" . }}
