{{ define "main" }}

{{ partial "jumbotron-main" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="mw7 center pa2">
    <div class="measure-narrow center">
        <form 
        class="flex-ns" 
        name="slackInvitationRequest"
        method="POST"
        netlify-honeypot="firstname"
        data-netlify="true">
            <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
                <input type="text" id="email" placeholder="Ton email" name="email" class="w-100">
                <label for="email">Ton email</label>
            </fieldset>
            <fieldset class="flex-auto mb2 mb0-ns mr2-ns dn">
                <input type="text" id="firstname" placeholder="Ton nom" name="firstname" class="w-100">
                <label for="firstname">Ton prénom</label>
            </fieldset>
            <div class="dn"></div>
            <button class="btn w-100 w-auto-ns mb0-ns raise" type="submit">Rejoindre sur Slack</button>
        </form>
    </div>
</div>

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

<div class="bg-grey-1">
	<div class="cms ph3 mw7 center">
        <div class="flex">
            <div class="w-70 ma2">
                <h1 class="dib">Le modèle</h1>
            </div>
            <div class="w-30 ma2 tr">
                <a class="btn tr" href="/model">
                    Consulter
                </a>
            </div>
        </div>
        <div class="flex flex-wrap">
            {{ range .Params.model.benefits }}
            <div class="w-50 pa3">
                <h2><i class="fa-{{ .fontAwesome.style }} fa-{{ .fontAwesome.icon }}"></i> {{ .title }}</h2>
                <p>{{ .description }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="bg-grey-1">
	<div class="cms ph3 mw7 center">
        {{ .Content }}
    </div>
</div>

<!-- {{ partial "blog" . }} -->

{{ end }}
